{{!-- <h1>HOME PAGE</h1>
<p>{{title}}</p>
<p>{{courses}}</p>

<div class="mt-4">
    <div class="row">
        {{#each courses}}
            <div class="col-sm-6 col-lg-4">
                <div class="card" style="margin-top: 20px;">
                    <a href="/courses/{{this.slug}}">
                        <img class="card-img-top" src="{{this.image}}" alt="{{this.name}}">     
                    </a>
                    <div class="card-body">
                        <a href="/courses/{{this.slug}}">
                            <h5 class="card-title">{{this.name}}</h5>
                        </a>
                        <p class="card-text">{{this.description}}</p>
                        <a href="#" class="btn btn-primary">Mua Khóa học</a>
                    </div>
                </div>
            </div>
        {{/each}}
    </div>
    
</div> --}}


<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>MY APP</title>
</head>
<body>
   
 
 <!--  SINGLE FILE -->
<form action="/uploadfile" enctype="multipart/form-data" method="POST"> 
   <input type="file" name="myFile" />
   <input type="submit" value="Upload a file"/>
</form>
 
 
<!-- MULTIPLE FILES -->
 
<form action="/uploadmultiple"  enctype="multipart/form-data" method="POST">
  Select images: <input type="file" name="myFiles" multiple>
  <input type="submit" value="Upload your files"/>
</form>
 
  <!--   PHOTO-->
 
<form action="/upload/photo" enctype="multipart/form-data" method="POST"> 
  <input type="file" name="myImage" accept="image/*" />
  <input type="submit" value="Upload Photo"/>
</form>
 
 
 
</body>
</html>
